<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body>
    <h1>Page not found</h1>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Page not found</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        h1,h2,h3 {
            margin-bottom: 0px;
        }
        h1 {
            font-size: 68px;
        }
    </style>
</head>

<body>
    <div class="div404 container">
        <h1 class="text404">404</h1>
        <h2 class="page-not-found">Page Not Found</h2>
        <h3 class="page-looking">The Page you are looking for doesn't exist.</h3>
        <a href="/home" class="btn btn-outline-dark" style="margin-top: 1rem;">Goto Home</a>
    </div>
</body>

</html>